@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Primary */ 
        /* Background */
        .bg-primary-class{
            @apply bg-primary-light dark:bg-primary-dark;
        }
        /* Text 
        .text-primary{
            @apply text-primary-light dark:text-primary-dark;
        }
        */
        .text-on-primary-class
        {
            @apply text-primary-on-light dark:text-primary-on-dark;
        }
        .text-primary-container-class{
            @apply text-primary-container-light dark:text-primary-container-light;
        }
        .text-on-primary-container-class{
            @apply text-primary-container-on-light dark:text-primary-container-on-light;
        }
        .text-inverse-primary-class{
            @apply text-primary-inverse-light dark:text-primary-inverse-dark;
        }

    /* Secondary */
        /* Background */
        .bg-secondary-class{
            @apply bg-secondary-light dark:bg-secondary-dark
        }
        /* Text */
        .text-secondary-class{
            @apply text-secondary-light dark:text-secondary-dark;
        }
        .text-secondary-on-class
        {
            @apply text-secondary-on-light dark:text-secondary-on-dark;
        }
        .text-secondary-container-class{
            @apply text-secondary-container-light dark:text-secondary-container-light;
        }
        .text-secondary-container-on-class{
            @apply text-secondary-container-on-light dark:text-secondary-container-on-light;
        }
        .text-secondary-inverse-class{
            @apply text-secondary-inverse-light dark:text-secondary-inverse-dark;
        }

    /* Tertiary */
        /* Background */
        .bg-tertiary-class{
            @apply bg-tertiary-light dark:bg-tertiary-dark
        }
        /* Text */
        .text-tertiary-class{
            @apply text-tertiary-light dark:text-tertiary-dark;
        }
        .text-on-tertiary-class
        {
            @apply text-tertiary-on-light dark:text-tertiary-on-dark;
        }
        .text-tertiary-container-class{
            @apply text-tertiary-container-light dark:text-tertiary-container-light;
        }
        .text-on-tertiary-container-class{
            @apply text-tertiary-container-on-light dark:text-tertiary-container-on-light;
        }
        .text-inverse-tertiary-class{
            @apply text-tertiary-inverse-light dark:text-tertiary-inverse-dark;
        }
    
     /* Neutral */
        /* Text */
        .text-neutral-class{
            @apply text-neutral-light dark:text-neutral-dark;
        }
        .text-on-neutral-class
        {
            @apply text-neutral-on-light dark:text-neutral-on-dark;
        }
        .text-neutral-container-class{
            @apply text-neutral-container-light dark:text-neutral-container-light;
        }
        .text-on-neutral-container-class{
            @apply text-neutral-container-on-light dark:text-neutral-container-on-light;
        }
        .text-inverse-neutral-class{
            @apply text-neutral-inverse-light dark:text-neutral-inverse-dark;
        }

    /* Background */
        .bg-color {
            @apply bg-background-light dark:bg-background-dark
        }
        .bg-on-color {
            @apply bg-background-on-light dark:bg-background-on-dark
        }

        /* TODO missing error and neutral variant */
}

@layer base {
    :root {
        --md-source: 52 211 153;
        /* light */
        --md-color-primary-light: 0 108 75; 
        --md-color-on-primary-light: 255 255 255;
        --md-color-primary-container-light: 104 252 191;
        --md-color-on-primary-container-light: 0 33 20;
        --md-color-secondary-light: 0 107 95;
        --md-color-on-secondary-light: 255 255 255;
        --md-color-secondary-container-light: 98 250 227;
        --md-color-on-secondary-container-light: 0 32 28;
        --md-color-tertiary-light: 164 48 115;
        --md-color-on-tertiary-light: 255 255 255;
        --md-color-tertiary-container-light: 255 216 231;
        --md-color-on-tertiary-container-light: 61 0 38;
        --md-color-error-light: 186 26 26;
        --md-color-error-container-light: 255 218 214;
        --md-color-on-error-light: 255 255 255;
        --md-color-on-error-container-light: 65 0 2;
        --md-color-background-light: 251 253 249;
        --md-color-on-background-light: 25 28 26;
        --md-color-surface-light: 251 253 249;
        --md-color-on-surface-light: 25 28 26;
        --md-color-surface-variant-light: 220 229 221;
        --md-color-on-surface-variant-light: 64 73 67;
        --md-color-outline-light: 112 121 115;
        --md-color-inverse-on-surface-light: 239 241 237;
        --md-color-inverse-surface-light: 46 49 47;
        --md-color-inverse-primary-light: 69 223 164;
        --md-color-shadow-light: 0 0 0;
        --md-color-surface-tint-light: 0 108 75;
        --md-color-outline-variant-light: 191 201 193;
        --md-color-scrim-light: 0 0 0;
        /* dark */
        --md-color-primary-dark: 69 223 164;
        --md-color-on-primary-dark: 0 56 37;
        --md-color-primary-container-dark: 0 81 55;
        --md-color-on-primary-container-dark: 104 252 191;
        --md-color-secondary-dark: 60 221 199;
        --md-color-on-secondary-dark: 0 55 49;
        --md-color-secondary-container-dark: 0 80 71;
        --md-color-on-secondary-container-dark: 98 250 227;
        --md-color-tertiary-dark: 255 175 211;
        --md-color-on-tertiary-dark: 98 0 64;
        --md-color-tertiary-container-dark: 133 20 90;
        --md-color-on-tertiary-container-dark: 255 216 231;
        --md-color-error-dark: 255 180 171;
        --md-color-error-container-dark: 147 0 10;
        --md-color-on-error-dark: 105 0 5;
        --md-color-on-error-container-dark: 255 218 214;
        --md-color-background-dark: 25 28 26;
        --md-color-on-background-dark: 225 227 223;
        --md-color-surface-dark: 25 28 26;
        --md-color-on-surface-dark: 225 227 223;
        --md-color-surface-variant-dark: 64 73 67;
        --md-color-on-surface-variant-dark: 191 201 193;
        --md-color-outline-dark: 138 147 140;
        --md-color-inverse-on-surface-dark: 25 28 26;
        --md-color-inverse-surface-dark: 225 227 223;
        --md-color-inverse-primary-dark: 0 108 75;
        --md-color-shadow-dark: 0 0 0;
        --md-color-surface-tint-dark: 69 223 164;
        --md-color-outline-variant-dark: 64 73 67;
        --md-color-scrim-dark: 0 0 0;
}

}

