@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --md-source: 52 211 153;
        /* light */
        --md-color-primary-light: 0 108 75; 
        --md-color-on-primary-light: 255 255 255;
        --md-color-primary-container-light: 104 252 191;
        --md-color-on-primary-container-light: 0 33 20;
        --md-color-secondary-light: 0 107 95;
        --md-color-on-secondary-light: 255 255 255;
        --md-color-secondary-container-light: 98 250 227;
        --md-color-on-secondary-container-light: 0 32 28;
        --md-color-tertiary-light: 164 48 115;
        --md-color-on-tertiary-light: 255 255 255;
        --md-color-tertiary-container-light: 255 216 231;
        --md-color-on-tertiary-container-light: 61 0 38;
        --md-color-error-light: 186 26 26;
        --md-color-error-container-light: 255 218 214;
        --md-color-on-error-light: 255 255 255;
        --md-color-on-error-container-light: 65 0 2;
        --md-color-background-light: 251 253 249;
        --md-color-on-background-light: 25 28 26;
        --md-color-surface-light: 251 253 249;
        --md-color-on-surface-light: 25 28 26;
        --md-color-surface-variant-light: 220 229 221;
        --md-color-on-surface-variant-light: 64 73 67;
        --md-color-outline-light: 112 121 115;
        --md-color-inverse-on-surface-light: 239 241 237;
        --md-color-inverse-surface-light: 46 49 47;
        --md-color-inverse-primary-light: 69 223 164;
        --md-color-shadow-light: 0 0 0;
        --md-color-surface-tint-light: 0 108 75;
        --md-color-outline-variant-light: 191 201 193;
        --md-color-scrim-light: 0 0 0;
        /* dark */
        --md-color-primary-dark: 69 223 164;
        --md-color-on-primary-dark: 0 56 37;
        --md-color-primary-container-dark: 0 81 55;
        --md-color-on-primary-container-dark: 104 252 191;
        --md-color-secondary-dark: 60 221 199;
        --md-color-on-secondary-dark: 0 55 49;
        --md-color-secondary-container-dark: 0 80 71;
        --md-color-on-secondary-container-dark: 98 250 227;
        --md-color-tertiary-dark: 255 175 211;
        --md-color-on-tertiary-dark: 98 0 64;
        --md-color-tertiary-container-dark: 133 20 90;
        --md-color-on-tertiary-container-dark: 255 216 231;
        --md-color-error-dark: 255 180 171;
        --md-color-error-container-dark: 147 0 10;
        --md-color-on-error-dark: 105 0 5;
        --md-color-on-error-container-dark: 255 218 214;
        --md-color-background-dark: 25 28 26;
        --md-color-on-background-dark: 225 227 223;
        --md-color-surface-dark: 25 28 26;
        --md-color-on-surface-dark: 225 227 223;
        --md-color-surface-variant-dark: 64 73 67;
        --md-color-on-surface-variant-dark: 191 201 193;
        --md-color-outline-dark: 138 147 140;
        --md-color-inverse-on-surface-dark: 25 28 26;
        --md-color-inverse-surface-dark: 225 227 223;
        --md-color-inverse-primary-dark: 0 108 75;
        --md-color-shadow-dark: 0 0 0;
        --md-color-surface-tint-dark: 69 223 164;
        --md-color-outline-variant-dark: 64 73 67;
        --md-color-scrim-dark: 0 0 0;
}

}

